.card
{
    margin: 0;
    padding: 0;
    font-family: sans-serif, cursive;


}

.card-body {

    display: flex;
    justify-content: center;
    background: #6b7280;
    color: white;
}

.container {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;

}

.container .card {
    width: 308px;
    position: relative;
    height: 400px;
    background: #51585e;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px grey;
    transition:0.3s ease-in-out;
    margin: 5% 10px 30px;


}
